.game {
    /* padding: 20px 10px; */
    background-color: lightgray;
    display: inline-block;
    padding: 6px;
    margin: 0px auto;
    text-align: center
}

/* span {
    font-size: 20px;
} */

.difficulty {
    font-size: 20px;
    margin: 5px auto
}

.level {
    margin: 0px 5px;
}
